# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules/
/.pnp
.pnp.js
.pnpm-store/
yarn.lock
package-lock.json

# Blockchain Development
/artifacts/
/cache/
/coverage/
/typechain-types/
/deployments/
.openzeppelin/
*.secret
*.key

# Testing
/coverage

# Next.js
/.next/
/out/
.next-env.js

# Production
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.project

# Editor & IDE
.vscode/
.idea/
*.swp
*.swo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
gas-reporter.txt

# Local development
*.local
*.bak
*.tmp

# System Files
.DS_Store
Thumbs.db

# Certificates
*.pem
*.crt
*.key

# Vercel
.vercel

# Hardhat/Truffle specific
.hardhat_cache/
.hardhat_contracts.json
.truffle-suite/