.imageGallery {
    width: 100%;
    padding: 50px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; 
    justify-content: center;
}

@media (max-width: 768px) {
    .imageGallery {
        grid-template-columns: repeat(1, 1fr); 
    }
}
